[Unit]
Description=Perform backup of /media/Data to /media/Tresor
Wants=backup-data.timer
[Service]
ExecStart=rsync -avzh /media/Data /media/Tresor/Backup/Data
[Install]
WantedBy=multi-user.target
